@use '../../style/mixins.scss' as mixin;

.board{
    margin-left: 24px;
    background-color: hsla(220, 14%, 96%, 1);   

    &__title{
        @include mixin.font('BricolageGrotesque_Extra', 36px, 39.6px, 800);
        letter-spacing: -2px;
        color: hsla(0, 0%, 24%, 1);
        margin-top: 24px;
        padding-left: 24px;
    }

    &__form{
        margin: 20px 40px 24px 24px;
        &__group{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
            gap: 0 10px;

            &__location{
                display: flex;
                align-items: center;
                border: 1px solid #d1d5db;
                border-radius: 8px;
                padding: 10px 16px;
                background-color: hsla(210, 20%, 98%, 1);
                
                &__icon{
                    margin-right: 8px;
                }

                &__country-name{
                    @include mixin.font('Root_Regular', 14px, 17.5px, 500);
                    color: hsla(220, 9%, 46%, 1);
                }

                &__divider{
                    width: 1px;
                    height: 20px;
                    background-color: #d1d5db;
                    margin: 0 16px;
                }

                &__input{
                    flex: 1;
                    border: none;
                    outline: none;
                    background-color: hsla(210, 20%, 98%, 1);
                }
            }

            &__input{
                width: 584px;
                height: 42px;
                border-radius: 8px;
                border: 1px solid hsla(216, 12%, 84%, 1);
                background-color: hsla(210, 20%, 98%, 1);
                padding: 12px 16px;
                outline: none;

                &::placeholder{
                    @include mixin.font('Root_Regular', 14px, 17.5px, 500);
                    color: hsla(220, 9%, 46%, 1);
                }
            }

            &__search-button{
                width: 123px;
                height:41px;
                padding: 2.5px 6px;
                background-color: hsla(234, 95%, 85%, 1);
                border-radius: 999px;
                border: 0;
                @include mixin.flex(center, center);

                &__icon{
                    margin-left: 8px;
                }
            }
        }

        &__filters-checkbox{
            @include mixin.flex(flex-start, center);
            .label{
                @include mixin.font('Root_Regular', 14px, 14px, 400);
                color: hsla(219, 40%, 11%, 1);
                @include mixin.flex(flex-start, center);
                margin-right: 30px;

            }

            .checkbox{
                width: 16px;
                height: 16px;
                border: 0.5px solid hsla(234, 95%, 85%, 1);
                appearance: none;
                border-radius: 4px;
                margin-right: 8px;

                &:checked{
                    border: 0.5px solid hsla(234, 84%, 78%, 1);
                    background: hsla(234, 84%, 78%, 1) url("../../assets/resume/cheked.svg") no-repeat center;
                    background-size: 9.79px 7px;
                }
            }
        }
    }

    &__list{
        width: 1002px;
        height: 160px;
        padding: 24px;
        border-radius: 16px;
        background-color: hsla(0, 0%, 100%, 1);
        margin-bottom: 16px;
        margin-left: 24px;

        &__company{
            @include mixin.flex(space-between, flex-start);
            margin-bottom: 12px;
            &__name{
                @include mixin.font('Inter_Light', 14px, 21px, 400);
                color: hsla(0, 0%, 60%, 1);
            }
        }

        &__title{
            @include mixin.font('Inter_Bold', 24px, 36px, 600);
            color: hsla(0, 0%, 24%, 1);
        }

        &__information{
            margin-top: 24px;
            @include mixin.flex(space-between, flex-start);
            &__box{
                @include mixin.flex(flex-start, center);
                .badge{
                    width: fit-content;    
                    height: 22px;
                    border-radius: 6px;
                    @include mixin.flex(flex-start, center);
                    margin-right: 8px;
                }

                .icon{
                    padding-left: 10px;
                }
    
                .description{
                    @include mixin.font('Inter_Light', 12px, 18px, 400);
                    color: hsla(0, 0%, 24%, 1);
                    margin-left: 4px;
                    padding: 2px 8px 2px 0;
                }
            }

            &__block{
                @include mixin.flex(flex-start, center);
                .badge{    
                    width: fit-content;    
                    height: 22px;
                    border-radius: 6px;
                    padding: 0.5px 8px;
                    @include mixin.flex(flex-start, center);
                    margin-right: 8px;
                }
    
                .description{
                    @include mixin.font('Inter_Light', 12px, 18px, 400);
                    color: hsla(0, 0%, 24%, 1);
                    margin-left: 4px;
                }
            }
        }
    }
}