@use '../../style/mixins.scss' as mixin;
@use '../../style/variables.scss' as var;

.job{
    &__list{
        margin: 0;
        @include mixin.flex(flex-start, center);
        list-style-type: none;
        &__item{
            &:nth-child(1){
                margin-left: 24px;
            }
            &:nth-child(2){
                margin-left: 8px;
            }
            &__button{
                border: 0;
                background-color: transparent;
                cursor: pointer;
            }
        }
    }
}