@use '../../style/variables.scss' as var;
@use '../../style/mixins.scss' as mixin;

body {
    background-color: var.$body_background;
}

.profile{
    position: relative;
    width: 1002px;
    margin-left: 24px;
    
    &__title{
        @include mixin.title('BricolageGrotesque_Bold', 36px, 39.6px, 800, -2px, hsla(0, 0%, 24%, 1));
        margin: 24px 0 20px 0;
    }

    &__container{
        @include mixin.flex(space-between, center);
        width: 100%;

        &__information{
            width: 501px;
            height: 150px;
            border-radius: 16px;
            padding: 24px;
            background-color: hsla(0, 0%, 100%, 1);
            box-shadow: 0px 1px 2px 0px hsla(0, 0%, 0%, 0.08);
            @include mixin.flex(flex-start, flex-start);
            

            &__block{
                
                &__title{
                    width: 206px;
                    @include mixin.title('Inter_Medium', 24px, 30px, 600, 0, hsla(220, 9%, 46%, 1));
                    margin-bottom: 28px;
                    margin-right: 4px;
                }

                &__button{
                    border: 0;
                    background-color: transparent;
                    @include mixin.flex(flex-start, center);
                    @include mixin.link('Inter_Medium', 12px, 18px, 600, none, hsla(241, 68%, 62%, 1));
                    cursor: pointer;
                }

                &__icon{
                    margin-right: 4px;
                }

            }

            &__data{
                @include mixin.flex(space-between, flex-start, column);
                height: 100%;

                &__description{
                    @include mixin.flex(flex-start, center);
                    @include mixin.font('Inter_Light', 12px, 18px, 300);
                    color: hsla(0, 0%, 24%, 1);
                }

                &__icon{
                    margin-right: 4px;
                }
            }

            &__findings{
                position: relative;
                width: 568px;
                height: 613px;
                border-radius: 16px;
                margin: 0 auto;
                padding: 24px;
                background-color: hsla(0, 0%, 100%, 1);

                &__close{
                    position: absolute;
                    top: 19.32px;
                    right: 19.32px;
                }

                &__title{
                    @include mixin.title('Inter_Medium', 24px, 40px, 600, 0, hsla(0, 0%, 24%, 1));
                }

                &__form{
                    margin-top: 40px;
                    
                    &__title{
                        @include mixin.title('Inter_Medium', 20px, 30px, 600, 0, hsla(0, 0%, 24%, 1));
                        margin-bottom: 16px;
                    }

                    &__basic{
                        @include mixin.flex(space-between, flex-start);
                        flex-wrap: wrap;
                        margin-bottom: 40px;

                        &__group{
                            @include mixin.flex(flex-start, flex-start, column);
                            &:first-child{
                                margin-bottom: 20px;
                            }


                            &__label{
                                @include mixin.font("Inter_Regular", 14px, 21px, 500);
                                color: hsla(219, 40%, 11%, 1);
                                margin-bottom: 8px;
                            }

                            &__input {
                                width: 250px;
                                height: 42px;
                                padding-left: 12px;
                                border-radius: 8px;
                                border: 1px solid hsla(216, 12%, 84%, 1);
                                background-color: hsla(210, 20%, 98%, 1);
                                outline: none;
                                @include mixin.font("Inter_Regular", 14px, 17.5px, 400);
                                color: hsla(219, 40%, 11%, 1);
                            
                                &:not(:placeholder-shown) {
                                    border: 2px solid hsla(234, 95%, 85%, 1);
                                    background-color: hsla(210, 20%, 98%, 1);
                                }
                            }
                            &__block{
                                position: relative;
                                width: 100%;
                                &__select{
                                    width: 250px;
                                    height: 42px;
                                    border-radius: 8px;
                                    padding-left: 12px;
                                    border: 1px solid hsla(216, 12%, 84%, 1);
                                    background-color: hsla(210, 20%, 98%, 1);
                                    outline: none;
                                    appearance: none;
                                    cursor: pointer;
                                    text-align: left;
                                    @include mixin.font("Inter_Regular", 14px, 17.5px, 400);
                                    color: hsla(219, 40%, 11%, 1);
                                }

                                .arrow_bottom{
                                    content: '';
                                    position: absolute;
                                    top: 50%;
                                    right: 12px;
                                    transform: translateY(-50%);
                                    pointer-events: none;
                                }
                            }
                        }
                    }

                    &__buttons{
                        @include mixin.flex(flex-end, center);
                        gap: 16px;



                        &__btn{
                            padding: 8px 20px;
                            border-radius: 999px;

                            &:nth-child(1){
                                border: none;
                                background-color: hsla(220, 13%, 91%, 1);
                                @include mixin.font("Inter_Regular", 14px, 21px, 500);
                                color: hsla(212, 28%, 17%, 1);
                            }
    
                            &:nth-child(2){
                                width: 150px;
                                border: 1px solid hsla(163, 93%, 22%, 1);
                                background-color: transparent;
                                @include mixin.font("Inter_Regular", 14px, 21px, 500);
                                color: hsla(163, 93%, 22%, 1);
                            }
                        }
                    }
                }
            }
        }

        &__questions{
            width: 486px;
            height: 150px;
            @include mixin.flex(flex-start, center);
            padding: 24px;
            border-radius: 16px;
            background-color: hsla(0, 0%, 100%, 1);
            box-shadow: 0px 1px 2px 0px hsla(0, 0%, 0%, 0.08);
            &__block{
                width: 313px;
                margin-right: 12px;
                &__title{
                    @include mixin.title('Inter_Bold', 16px, 20px, 700, 0, hsla(241, 68%, 62%, 1));
                    margin-bottom: 8px;
                }

                &__description{
                    @include mixin.font('Inter_Light', 12px, 18px, 400);
                    color: hsla(220, 9%, 46%, 1);
                }
            }

            &__button{
                border: 0;
                border-radius: 999px;
                padding: 10px 24px;
                background-color: hsla(234, 95%, 85%, 1);
                @include mixin.font('Inter_Regular', 14px, 21px, 500);
                color: hsla(0, 0%, 24%, 1);
            }

            &__icon{
                margin-left: 8px;
            }
        }
    }

    &__subtitle{
        @include mixin.font('Inter_Regular', 24px, 36px, 600);
        color: hsla(0, 0%, 24%, 1);
        margin: 30px 0 12px 0;
    }

    &__location{
        display: flex;
        justify-content: space-between;

        &__group{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__block{
            max-width:324px;
            width: 100%;
            height: fit-content; 
            @include mixin.flex(flex-start, flex-start, column);
            gap: 24px;
            padding: 24px;
            border-radius: 16px;
            background-color: hsla(0, 0%, 100%, 1);
            box-shadow: 0px 1px 2px 0px hsla(0, 0%, 0%, 0.08);

            &__title{
                @include mixin.font('Inter_Regular', 16px, 24px, 500);
                color: hsla(0, 0%, 24%, 1);
            }

            &__radio-buttons{
                @include mixin.flex(flex-start, center);
                gap: 16px;

                &__label{
                    @include mixin.flex(flex-start, center);
                    gap: 8px;
                    @include mixin.font('Inter_Light', 14px, 14px, 300);
                    color: hsla(0, 0%, 24%, 1);
                }

                &__input{
                    width: 16px;
                    height: 16px;
                    background: hsla(210, 20%, 98%, 1);
                    border: 0.5px solid hsla(234, 95%, 85%, 1);
                    border-radius: 8px;
                    appearance: none;
                    cursor: pointer;
    
                    &:checked{
                        border: 3.5px solid hsla(234, 84%, 78%, 1);
                        background: hsla(210, 20%, 98%, 1);
                    }
                }
            }
        }

        &__container{
            max-width:663px;
            width: 100%;
            height: fit-content; //288px
            @include mixin.flex(flex-start, flex-start, column);
            gap: 24px;
            padding: 24px;
            border-radius: 16px;
            background-color: hsla(0, 0%, 100%, 1);
            box-shadow: 0px 1px 2px 0px hsla(0, 0%, 0%, 0.08);

            &__title{
                @include mixin.font('Inter_Regular', 16px, 24px, 500);
                color: hsla(0, 0%, 24%, 1);
            }

            &__radio-buttons{
                @include mixin.flex(flex-start, center);
                flex-wrap: wrap;
                gap: 16px;

                &__block{
                    width: 280px;
                    height: fit-content;
                    @include mixin.flex(flex-start, flex-start);
                    gap:4px; 
                }

                &__input{
                    width: 16px;
                    height: 16px;
                    background: hsla(210, 20%, 98%, 1);
                    border: 0.5px solid hsla(234, 95%, 85%, 1);
                    border-radius: 8px;
                    appearance: none;
                    cursor: pointer;
    
                    &:checked{
                        border: 3.5px solid hsla(234, 84%, 78%, 1);
                        background: hsla(210, 20%, 98%, 1);
                    }
                }

                &__descriptions{
                    @include mixin.flex(flex-start, flex-start, column);
                    gap: 4px;

                    &__label{
                        @include mixin.font('Inter_Light', 14px, 14px, 300);
                        color: hsla(0, 0%, 24%, 1);
                    }
    
                    &__text{
                        @include mixin.font('Inter_Light', 12px, 18px, 300);
                        color:hsla(220, 9%, 46%, 1);
                    }
                }

            }
        }
    }

    &__blacklist-box{
        display: flex;
        gap: 24px;
        height: fit-content;
        padding: 24px;
        border-radius: 16px;
        background-color: hsla(0, 0%, 100%, 1);
        box-shadow: 0px 1px 2px 0px hsla(0, 0%, 0%, 0.08);
    }

    &__black-list{
        @include mixin.flex(flex-start, flex-start, column);
        gap: 24px;
        height: fit-content;
        width: 493px;

        &__title{
            @include mixin.font('Inter_Regular', 16px, 24px, 500);
            color: hsla(0, 0%, 24%, 1);
        }
        &__container{
            @include mixin.flex(flex-start, center);
            gap: 15px;

            &__description{
                @include mixin.font('Inter_Light', 12px, 18px, 300);
                color:hsla(0, 0%, 24%, 1);
            }
        }

        &__form{
            @include mixin.flex(flex-start, center);
            gap: 4px;

            &__input{
                width: 328px;
                padding: 12px 16px;
                border: 1px solid hsla(216, 12%, 84%, 1);
                border-radius: 8px;
                outline: none;

                &::placeholder{
                    @include mixin.font('Inter_Light', 14px, 17.5px, 400);
                    color:hsla(220, 9%, 46%, 1);
                }

                &:not(:placeholder-shown) {
                    border: 1px solid hsla(234, 95%, 85%, 1);
                    background-color: hsla(210, 20%, 98%, 1); 
                }
            }

            &__button{
                @include mixin.flex(flex-start, center);
                gap: 8px;
                padding: 10px 20px;
                border-radius: 999px;
                border: none;
                background-color: hsla(0, 74%, 45%, 1);

                &__text{
                    @include mixin.font('Inter_Regular', 14px, 21px, 500);
                    color: #fff;
                }
            }
        }

        &__divider{
            border-left: 0.5px solid hsla(220, 9%, 46%, 1); 
            height: 170px;              
        }

        &__company{
            @include mixin.flex(flex-start, flex-start, column);
            gap: 24px;
            width: 493px;
            height: fit-content;

            &__title{
                @include mixin.font('Inter_Regular', 16px, 24px, 500);
                color: hsla(0, 0%, 24%, 1);
            }

            &__badge-list{
                @include mixin.flex(flex-start, center);
                flex-wrap: wrap;
                gap: 10px;
                
                

            }
        }
    }

    &__security{
        width: 1002px;
        height: fit-content;
        border-radius: 16px;
        background-color: hsla(0, 0%, 100%, 1);
        box-shadow: 0px 1px 2px 0px hsla(0, 0%, 0%, 0.08);
        padding: 24px;
        margin-bottom: 24px;

        &__active{
            width: 100%;
            @include mixin.flex(flex-start, flex-start, column);
            gap: 24px;
            padding-bottom: 24px;
        }

        &__divider{
            width: 315px;
            border: 0.5px solid hsla(0, 0%, 60%, 1);
            margin: 0 auto;
        }

        &__agency{
            width: 100%;
            @include mixin.flex(flex-start, flex-start, column);
            gap: 24px;
            padding-top: 24px;

            &__title{
                @include mixin.font('Inter_Regular', 16px, 24px, 500);
                color: hsla(0, 0%, 24%, 1);
            }

            &__container{
                width: 100%;
                @include mixin.flex(flex-start, center);
                gap: 16px;

                &__checkbox{
                    max-width: 137px;
                    width: 100%;
                    @include mixin.flex(flex-start, center);
                    gap: 8px;

                    &__input{
                        width: 16px;
                        height: 16px;
                        border: 0.5px solid hsla(234, 95%, 85%, 1);
                        background-color: hsla(210, 20%, 98%, 1);
                        appearance: none;
                        border-radius: 4px;
                        margin-right: 8px;
                        
                        &:checked{
                            border: 0.5px solid hsla(234, 84%, 78%, 1);
                            background: hsla(234, 84%, 78%, 1) url("../../assets/resume/cheked.svg") no-repeat center;
                            background-size: 9.79px 7px;
                        }
                    }

                    &__label{
                        @include mixin.font('Inter_Light', 14px, 14px, 300);
                        color: hsla(0, 0%, 24%, 1);
                    }

                }
            }
        }

    }
}

.badge-blackList{
    width: fit-content;
    height: fit-content;
    @include mixin.flex(flex-start, center);
    gap: 4px;
    border-radius: 6px;
    padding: 2px 12px;
    background-color: hsla(0, 84%, 95%, 1);
}

.description-blackList{
    @include mixin.font('Inter_Regular', 14px, 21px, 500);
    color: hsla(0, 69%, 36%, 1);       
}