@use "../../../style/mixins.scss" as mixin;
@use "../../../style/variables.scss" as var;

.container-group{
    @include  mixin.flex(flex-start, flex-start, column);
    &__error-message {
        color: hsla(0, 84%, 63%, 1);
        @include mixin.font('Inter_Light', 12px, 18px, 400);
        margin-top: 4px;
    }
    &__label{
        @include mixin.font("Inter_Regular", 14px, 21px, 500);
        color: hsla(219, 40%, 11%, 1);
        margin-bottom: 8px;
    }

    &__phone-block{
        position: relative;
        @include mixin.flex(flex-start, center);

        &__error{
            border: 1px solid hsla(0, 84%, 63%, 1);
            border-radius: 8px;
        }

        &__input{
            width: 147px;
            height: 42px;
            padding-left: 12px;
            border-radius:0 8px 8px 0;
            border: 1px solid hsla(216, 12%, 84%, 1);
            background-color: hsla(210, 20%, 98%, 1);
            outline: none;
            @include mixin.font("Inter_Regular", 14px, 17.5px, 400);
            color: hsla(219, 40%, 11%, 1);

            &:not(:placeholder-shown) {
                border: 2px solid hsla(234, 95%, 85%, 1);
                background-color: hsla(210, 20%, 98%, 1); 
            }
        }

        &__select{
            @include mixin.flex(flex-start, center);
            width: 104px;
            height: 42px;
            border-radius: 8px 0 0 8px;
            padding: 12px 20px;
            gap: 8px;
            background-color: hsla(220, 14%, 96%, 1);
            border: 1px solid hsla(216, 12%, 84%, 1);
            outline: none;
            cursor: pointer;          
            
            &__code{
                @include mixin.font("Inter_Regular", 14px, 17.5px, 500);
                color: hsla(219, 40%, 11%, 1);
            }

            &__arrow{
                transition: transform 0.3s ease;

                &.open {
                    transform: rotate(180deg);
                }
            }
        }

        &__dropdownMenu {
            position: absolute;
            width: 250px;
            height: 60px;
            top: 50px;
            left: 0px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            z-index: 10;
            border: 1px solid hsla(216, 12%, 84%, 1);
            background-color: hsla(210, 20%, 98%, 1);

            &__item{
                padding-left: 24px;
                padding-top: 10px;
            }
        }
    }
}