@font-face {
    font-family: 'BricolageGrotesque_Extra';
    src: url('../../public/font/BricolageGrotesque/BricolageGrotesque-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'BricolageGrotesque_Bold';
    src: url('../../public/font/BricolageGrotesque/BricolageGrotesque-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'BricolageGrotesque_Medium';
    src: url('../../public/font/BricolageGrotesque/BricolageGrotesque-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'BricolageGrotesque_Regular';
    src: url('../../public/font/BricolageGrotesque/BricolageGrotesque-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter_Bold';
    src: url('../../public/font/inter/Inter-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Inter_Medium';
    src: url('../../public/font/inter/Inter-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Inter_Regular';
    src: url('../../public/font/inter/Inter-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Inter_Light';
    src: url('../../public/font/inter/Inter-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Root_Bold';
    src: url('../../public/font/Robot/PT-Root-UI_Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Root_Regular';
    src: url('../../public/font/Robot/PT-Root-UI_Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Root_Medium';
    src: url('../../public/font/Robot/PT-Root-UI_Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Root_Light';
    src: url('../../public/font/Robot/PT-Root-UI_Light.ttf') format('truetype');
}