//size
$p-8:32px; //padding indent

//____________________color_________________________//
$color_link:hsla(241, 68%, 62%, 1);
$body_background: hsla(220, 14%, 96%, 1);

//__________________color input____________________//
$border_color_input:hsla(220, 13%, 91%, 1);
$placeholder_color_input:hsla(220, 9%, 46%, 1);

//__________________button color__________________//
$button_color:hsla(234, 95%, 85%, 1);