@use './style/font.scss';
@use './style/variables.scss';
@use './components/breadcrumbs/breadcrumbs.scss';
@use './components/BadgeStatus/status.scss';  
@use './pages/signup-screen/signup.scss';
@use './components/UploadResume/upload_resume.scss';
@use './components/form/ResumeForm/resumeform.scss';
@use './components/badge/bage.scss';
@use './pages/job-board-screen/board.scss';
@use './components/verify/verify.scss';
@use './pages/job-screen/job.scss';
@use './pages/auto-apply-screen/apply.scss';
@use './pages/profile-screen/profile.scss';
@use './components/form/PhoneInput/PhoneInput.scss';
@use './components/form/DataPicker/data_picker.scss';
@use './pages/private-policy-screen/policy.scss';
@use './components/resumeModal/resum_modal.scss';
@use './components/StepStatus/step_status.scss';
@use './pages/main-screen/onboard.scss';
@use './components/form/InputResume/input_resume.scss';
@use './components/JobOpeningsList/job_openings_list.scss';
@use './components/JobOpeningsCard/job_openings_card.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
}