@use "../../../style/mixins.scss" as mixin;
 
.date-label {
    @include mixin.font("Inter_Regular", 14px, 21px, 500);
    color: hsla(219, 40%, 11%, 1);
    margin-bottom: 8px;
}

.date-input {
    display: flex;
    flex-direction: column;
    position: relative;
}

.input {
    width: 250px;
    height: 42px;
    border-radius: 8px;
    border: 1px solid hsla(216, 12%, 84%, 1);
    background-color: hsla(210, 20%, 98%, 1);
    outline: none;
    @include mixin.font("Inter_Regular", 14px, 17.5px, 400);
   
    cursor: pointer;

    &::placeholder{
        padding-left: 42px;
        color: hsla(220, 9%, 46%, 1);
    }

    &:not(:placeholder-shown) {
        padding-left: 42px;
        border: 2px solid hsla(234, 95%, 85%, 1);
        background-color: hsla(210, 20%, 98%, 1);
    }

}


.calendar-icon{
    width: 12px;
    height: 12px;
    position: absolute;
    top: 43px;
    left:18px;
}

.calendar {
    display: flex;
    flex-direction: column;
    width: 284px;
    height: fit-content;
    position: absolute;
    top: 108%;
    left: -30px;
    border-radius: 8px;
    padding: 16px;
    background: #fff;
    z-index: 10;
    box-shadow: 0px 10px 15px -3px hsla(0, 0%, 0%, 0.1);



    &__header-date {
        @include mixin.flex(space-between, center);
        margin-top: 16px;
        margin-bottom: 8px;

        &__btn{
            background-color: transparent;
            border: none;
        }

        &__description{
            @include mixin.font("Inter_Bold", 12px, 18px, 700);
            color: hsla(219, 40%, 11%, 1);
            cursor: pointer;
        }
    }

    &__days {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        margin-bottom: 8px;

        &__btn{
            padding: 8px 4px;
            border: none;
            background-color: transparent;
            cursor: pointer;

            &__current{
                &:hover{
                    border-radius: 8px;
                    background-color: hsla(216, 12%, 84%, 1);
                }
            }
        }

        &__description{
            width: 28px;
            height: 18px;
            @include mixin.font("Inter_Bold", 12px, 18px, 700);
            color: hsla(219, 40%, 11%, 1);
        }
    }

    &__year{
        max-height: 200px;
        overflow-y: auto;
        margin-top: 16px;   
        margin-bottom: 8px;

        &::-webkit-scrollbar {
            width: 4px;
            height: 141px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: hsla(234, 84%, 78%, 1);
            border-radius: 999px;
        }

        &__list{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            justify-items: center;
            align-items: center;

            &__btn{
                padding: 8px 4px;
                border: none;
                background-color: transparent;
                cursor: pointer;

                &:hover{
                    border-radius: 8px;
                    background-color: hsla(216, 12%, 84%, 1);
                }
            }
        }

        

        &__description{
            @include mixin.font("Inter_Bold", 12px, 18px, 700);
            color: hsla(219, 40%, 11%, 1);
        }
    }
    
    &__actions {
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
    }
}
    
.selected {
    border-radius: 8px;
    background-color: hsla(234, 95%, 85%, 1);

    &:hover{
        border-radius: 8px;
        background-color: hsla(234, 95%, 85%, 1);
        color: hsla(0, 0%, 100%, 1);
    }
}

.selected-day{
    @include mixin.font("Inter_Bold", 12px, 18px, 700);
    color: hsla(0, 0%, 100%, 1);

    &:hover{
        color: hsla(0, 0%, 100%, 1);
    }
}
    
    
.actions{
    width: 100%;
    height: fit-content;
    @include mixin.flex(space-between, center);
    &__btn{

        width: 118px;
        padding: 8px 12px;
        border-radius: 999px;
        cursor: pointer;
        
        &:nth-child(1){
            background-color: hsla(234, 95%, 85%, 1);
            border: none;
            @include mixin.font("Inter_Regular", 14px, 21px, 500);
            color: hsla(0, 0%, 100%, 1); 
        }

        &:nth-child(2){
            background-color: transparent;
            border: 1px solid hsla(220, 13%, 91%, 1);
            @include mixin.font("Inter_Regular", 14px, 21px, 500);
            color: hsla(212, 28%, 17%, 1); 
        }
    }
}

.other-month{
    color: rgb(122, 122, 122); 
}
    